# Ignore _putchar.c
_putchar.c

# Ignore all .c files in 0x09-static_libraries
0x09-static_libraries/*.c

# Ignore ox14-bak
0x14-bak

# Ignore all files that end with -main.c
*-main.c

# Ignore all a.out files
a.out
